.register{
&__header{
    padding: 100px 0;
    background: #FA9E31;
}    
&__text-h2{
    text-align: center;
    font:300 40px/60px 'Poppins';
    color: #ffff;
}   
&__tex-span{
    font:600 40px/60px 'Poppins';
}  
&__container{
    width: 1200px;
    margin: 0 auto;
}
&__form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin: 100px 0;
}
&__form-content{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
   
}
&__form-label{
    font:500 25px/27px 'Poppins';
    color: #FA9E31;
}
&__form-input{
    width: 480px;
    height: 56px;
    border-radius:42px;
    outline: none;
    background: #EDEDED;
    border: none;
    padding-left: 20px;
    font:400 22px/24px 'Poppins';
    color: #343434;
}
&__icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 55%;
    right: 5%;
}
&__form-icons{
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 5%;
}
&__form-btn{
    width: 480px;
    height: 56px;
    border-radius:42px;
    border: none;
    background: #FA9E31;
    color: #ffff;
    font:400 22px/24px 'Poppins';
    cursor: pointer;
    margin-top: 10px;
} 
}