.search{
    display: grid;
    grid-template-columns: 96px 1fr;
 
&__container{
    width: 1200px;
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
&__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
&__text{
    font: 500 24px/36px 'Poppins';
    color: #343434;
}
&__category{
    width: 480px;
    height: 60px;
    background: #FFF6DE;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 100px;
    margin-top: 20px;
}    
&__box{
    width: 222px;
    height: 44px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
&__category-tex{
    font: 500 16px/28px 'Poppins';
    cursor: pointer;
}
&__in{
   position: relative;
}
&__input{
    width: 1200px;
    height: 56px;
    border-radius: 42px;
    outline: #FA9E31;
    border: none;
    background: #EDEDED;
    padding-left: 20px;
    color: #343434;
    font: 400 16px/24px 'Poppins';
}
&__icon{
    position: absolute;
    top: 20%;
    right: 2%;
    width: 24px;
    height: 24px;
}
&__btn{
    width: 480px;
    height: 56px;
    border: none;
    border-radius: 41px;
    background: #FA9E31;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #EDEDED;
    cursor: pointer;
    font: 400 16px/24px 'Poppins';
}
&__btn-svg{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
&__btn-p{
    color: #FA9E31;
    font-size: 20px;
}
&__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px; 
}
&__card{
    width: 309px;
    height: 258px;
    border-radius: 15px;
} 
&__card:hover{
    transition: .3s;
      transform: translateY(-10px);
      box-shadow: 10px 12px 20px -14px rgba(0,0,0,.75);
}
&__card-img{
    width: 309px;
    height: 208px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.93%, rgba(0, 0, 0, 0.61) 100%);
}
&__card-text{
    font: 500 20px/30px 'Poppins';
    color: #0e0e0e;
}
}