.sideNav{
    width: 96px;
    min-height: 1024px; 
    background: #EDEDED;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
&__logo-img{
    width: 56px;
    height: 56px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #8A8A8A;
}    
&__icon{
    width: 56px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
&__link{
    text-decoration: none;
    background: transparent;
    color: black;
}
   
}
.active-link{
    background: #FA9E31;
    color: rgb(242, 233, 233) !important;
    text-decoration: none;
    border-radius: 10px;
}
.link{
    text-decoration: none;
    background: transparent;
    color: black;
    background: #FAFAFA;
    border-radius: 10px;
}